
@{
    ViewBag.Title = "SalesForceSend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<center><h2>Confirm Question Submission</h2></Center>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<Center>
    <form action="https://www.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST" target="_blank">

        <input type=hidden name="orgid" value="00D61000000dbH3">
        <input type=hidden name="retURL" value="/Home/index.cshtml">
        <input id="name" maxlength="80" name="name" size="20" type=hidden value="@ViewBag.Name" />
        <input id="subject" maxlength="80" name="subject" size="20" type=hidden value=@ViewBag.Subject />
        <input id="description" maxlength="80" name="description" size="20" type=hidden value=@ViewBag.Question />
        <br />
        <br />
        <div>
            <input type="submit" name="Confirm Submission" value="Confirm">

        </div>

        <br />
    </form>
</center>

