
@{
    ViewBag.Title = "SalesForceSend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Question Submitted</h2>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<form action="https://www.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">

        <input type=hidden name="orgid" value="00D61000000dbH3">
        <input type=hidden name="retURL" value="http://">
        <input id="type" maxlength="80" name="type" size="20" type=hidden value = "@ViewBag.Name" />
        <input id="subject" maxlength="80" name="subject" size="20" type=hidden value= @ViewBag.Subject />
        <input id="question" maxlength="80" name="subject" size="20" type=hidden value= @ViewBag.Question />

        <div class="col-md-3">
            <center><input type="submit" name="Confirm Submission" formtarget="/Home"></center>
        </div>
        <br />
</form>

